<div class="answer area">
	<div class="input">
		<div class="textbox hidden"></div>
		<div class="choices hidden"></div>
		<div class="textarea hidden"></div>
	</div>
	<button type="button" class="button">Submit</button>
</div>