<div class="answer area">
	<div class="input">
		<div class="textbox hidden">
			<input class="freetext" name="answer" type="text" placeholder="Enter your answer here"/>
		</div>
		<div class="choices hidden"></div>
	</div>
	<button type="button" class="button">Submit</button>
</div>