<html>
	<head>
		<meta charset="UTF-8">
		<title>Exam</title>
		<link rel="stylesheet" href="/layouts/${data.name}/css">
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
		</script>
	</head>
	<body>
		<if test="data.active === true">
			<section class="exam page">
				<include template="./heading.marko"/>
				<include template="./question.marko"/>
				<include template="./answer.marko"/>
				<footer class="footer">Time left: <span class="timer">${data.timer}</span></footer>
			</section>
		</if>
		<else>
			<script>
				window.location = '/home';
			</script>
		</else>
		<script src="/layouts/${data.name}/js"></script>
	</body>
</html>