<html>
	<head>
		<meta charset="UTF-8">
		<title>Done!</title>
		<link rel="stylesheet" href="/layouts/${data.name}/css">
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
		</script>
	</head>
	<body>
		<if test="data.active === true">
			<section class="closing page">
				<h2 class="goodbye">EXAM CLOSED</h2>
				<div class="message">
					<div class="instructions to wait" if="data.timer != '0:00'">
						You have completed the exam. Congratulations!<br/>
						Please sit tight while your fellows finish the test.<br/>
						Do not leave this page to receive your results.
					</div>
					<div class="congratulations hidden">
						Your score: <span class="total score">0</span> out of <span class="total items">0</span>
					</div>
				</div>
				<div class="remaining time">Time left: <span class="timer">${data.timer}</span></div>
			</section>
		</if>
		<else>
			<script>
				window.location = '/home';
			</script>
		</else>
		<script src="/layouts/${data.name}/js"></script>
	</body>
</html>