<html>
	<head>
		<meta charset="UTF-8">
		<title>Exam</title>
		<!--<link rel="stylesheet" href="/layouts/${data.name}/css">-->
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
		</script>
	</head>
	<body>
		<section>
			<h2 class="goodbye"></h2>
		</section>
		<!--<script src="/layouts/${data.name}/js"></script>-->
	</body>
</html>