body {
	font: 0.85em 'Roboto Slab', serif;
}

.section {
	@include span-columns(12);
	@include padding(3.5% null 0.5% null);
	@include margin(0);
	font-size: 2em;
}

.tester {
	@include span-columns(12);
	@include padding(0 null 2% null);
	@include margin(0);
	font-size: 1em;
}

.text {
	@include padding(1.5% null 0.5% null);
}

pre {
	@include margin(0);
	text-align: left;
}

code {
	@include span-columns(12);
	@include padding(1.5%);
	background-color: #FAFAFA;
	border-radius: 10px;
}

.answer {
	@include span-columns(12);
	@include size(null 1.3em);

	.input {
		@include padding(1.5% null 0.5% null);
		@include fill-parent();
	}

	.button {
		@include fill-parent();
	}
}

.footer {
	@include position(fixed, null 0 0 0);
	@include size(100% 1.3em);
	text-align: center;
	border-top: 1px solid black;
	background-color: #FBF6F6;
}

.timer {
	font-weight: 600;
}