<html>
	<head>
		<meta charset="UTF-8">
		<title>Admin Panel</title>
		<!-- For custom fonts -->
		<link rel="stylesheet" href="/layouts/${data.name}/css">
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io();
		</script>
	</head>
	<body>
		<section class="dashboard">
			<div class="main panel">
				<div class="first cell">
					<if test="data.timer == '0:00'">
						<var name="status" value="'now concluded'"/>
					</if>
					<else-if test="data.active === true">
						<var name="status" value="'active'"/>
						<var name="toggle" value="'conclude'"/>
						<var name="button" value="'Stop'"/>
					</else-if>
					<else>
						<var name="status" value="'not yet begun'"/>
						<var name="toggle" value="'commence'"/>
						<var name="button" value="'Start'"/>
					</else>
					<div class="activity">The exam is <span class="status">$status</span></div>
					<if test="data.timer != '0:00'">
						<div class="instructions">Click here to <span class="toggle">$toggle</span> the exam</div>
						<button class="button">$button</button>
					</if>
				</div>
				<div class="second cell">
					<div class="timer">${data.timer}</div>
				</div>
			</div>
			<div class="examinee scoreboard"></div>
			<div class="manual checking station"></div>
		</section>
		<script src="/layouts/${data.name}/js"></script>
	</body>
</html>