body {
	text-align: center;
	font: 0.85em 'Roboto Slab', serif;
}

.greeting {
	@include span-columns(12);
	@include padding(20% null null null);
	font-size: 8em;
}

.instructions {
	@include span-columns(12);
	@include padding(null null 1% null);
}

.timer {
	@include span-columns(2);
	@include shift(4);
	@include size(null 1.3em);
	border: 1px;
	border-radius: 5px;
	background-color: #FBF6F6;
}

button {
	@include span-columns(2);
	@include size(null 1.3em);
	@include padding(0);
	cursor: pointer;
}