<button class="button" if="data.active == true">Start Test</button>
<button class="button" disabled else-if="data.timer == '0:00'">Test Is Over</button>
<button class="button" disabled else>Please Wait...</button>